<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block additionals %}
    {% endblock %}

    {% block style %}
    {% endblock %}
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Smart APNR</span>
        </div>
    </nav>

    <!-- Main -->
    {% block main %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <span>&copy; APNR - Braincore</span>
        </div>
    </footer>

<!-- Script -->
{% block script %}
{% endblock %}
</body>
</html>
